.landingpage{
    height: 100vh - var(--navHeight);
    background-color: black;
    color:white;
    overflow: hidden;
  }
  .container{
    display: flex ;
    max-width: 100%;
    justify-content: center;
  }
  .row{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
  .col{
    display: flex;
 
  }
  .card{
    display: flex;
  }

  .intro-card{
    background-color: transparent;
    height: auto;
  }

  .picture{
    background-color: transparent;
    width: 70%;
    height: auto;
  }
  
  .card-title{
    margin:40% 0% 0% 20%;
    color:white;
  }
  .card-text{
    margin: 0% 0% 0% 20%;
    color:white;
  }
  .icon-buttons{
    justify-content: left;
    width: 20%;
  }
  .landingpage-icon{
    padding: 2px;
    color: gray;
    text-align: center;
  }