.main-content{
    display: flex;
    height: 100vh;
    width: auto;
    background-color: black;
    color:white;
  }
  .container{
    max-width: 100%;
  }
  .row{
    width: 100%
  }
  .col{
    width: 100%;
  }